<div class="hero">
  <h1>Movie Lists</h1>
  <h3>Create Movies, Lists and Bookmarks</h2>
  <br>
  <div class="d-inline">
    <%= link_to 'Add new list', new_list_path, class: "btn btn-primary" %>
    <%= link_to 'See movies', movies_path, class: "btn btn-primary" %>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @lists.each do |list| %>
      <div class="col-4">
      <%= link_to(list_path(list)) do %>
        <div class="movie movie-overview">
          <div class="list-img">
            <%= cl_image_tag(list.photo.key)%>
          </div>
          <h4><%= link_to list.name, list_path(list), class: 'movie-link'%></h4>
        </div>
      <%end%>
      </div>
    <% end %>
</div>
