<div class="hero hero-full">
  <div class="container white">
    <h2>Create a new list</h2>
    <br>
    <%= simple_form_for @list do |f| %>
      <%= f.input :name %>
      <%= f.input :photo, as: :file %>
      <br>
      <%= f.submit class: 'btn btn-primary' %>
      <%= link_to 'â† Go back', lists_path, class: "btn link" %>
    <% end %>
  </div>
</div>
