<div class="hero">
  <h1><%= @list.name %></h1>
  <h3><%= pluralize(@list.movies.size, 'movie') %> in this list</h3>
  <br>
  <div class="d-inline">
    <%= link_to 'â† Go back', lists_path, class: "btn btn-primary" %>
    <%= link_to 'Delete this list', list_path(@list), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: 'btn btn-danger'%>
  </div>
</div>

<div class="container">
  <%= link_to 'Add new movie', new_list_bookmark_path(@list), class: 'btn btn-primary' %>
  <br><br>
  <div class="row">
    <% @list.movies.each do |movie| %>
        <div class="col-4">
          <div class="movie">
            <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
            <h4><%= movie.title %></h4>
            <p><%= movie.overview %></p>
            <p><strong>Rating: </strong><%= movie.rating %> / 10</p>
            <p><strong>Comment: </strong><%= bookmark.comment %></p>
            <%= link_to 'Delete moavie', bookmark_path(bookmark), class: 'btn btn-danger btn-sm', data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to remove '#{movie.title}' from your #{@list.name} list"}%>
          </div>
        </div>
    <%end%>
  </div>
</div>
